body {
  font-family: Lucida Grande,Lucida Sans Unicode,Garuda,sans-serif;
  font-size: 16px;
  line-height: 1.25em;
}

p, ul, ol, dl {
  margin-bottom: 1.5em;
}

ul, ol, dl {
  margin-left: 1em;
  padding-left: 1em;
  border-left: 5px solid grey;
}

li { margin-left: 3em;}

ul li { list-style: disc; }
ol li { list-style: decimal-leading-zero; }

h1 {
  font-size: 3em;
  line-height: 1.125em;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2em;
  line-height: 1.25em;
  margin-bottom: 0.75rem;
}

h3 {
  font-size: 1.25em;
  line-height: 1.5em;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

h4 {
  font-size: 1.25em;
  line-height: 1.5em;
  margin-bottom: 0.5rem;
}

h5 {
  font-size: 1em;
  line-height: 1.25em;
  margin-bottom: 0.25rem;
  font-weight: bold;
}

h6 {
  font-size: 1em;
  line-height: 1.25em;
  margin-bottom: 0.25rem;
  font-style: italic;
}

header h1 {
  font-size: 2em;
  line-height: 1.25em;
  margin-bottom: 0.75rem;
}

blink {
  text-decoration: blink;
}