/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/ow.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5, ../sass/ow.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../sass/ow.scss */
* :focus {
  outline: 0;
}

/* line 9, ../sass/ow.scss */
.tiles:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* IE6 */
/* line 17, ../sass/ow.scss */
* html .tiles {
  height: 1%;
}

/* IE7 */
/* line 21, ../sass/ow.scss */
*:first-child + html .tiles {
  min-height: 1%;
}

/* line 26, ../sass/ow.scss */
html, body {
  background: lightgrey;
}

/* line 30, ../sass/ow.scss */
body {
  font-family: 'Ubuntu', arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #262626;
}

/* line 39, ../sass/ow.scss */
h1 {
  display: none;
}

/* line 43, ../sass/ow.scss */
form {
  padding: 20px;
}
/* line 45, ../sass/ow.scss */
form .form-item {
  float: left;
}

/* line 49, ../sass/ow.scss */
.setup .tiles {
  display: none;
}

/* line 50, ../sass/ow.scss */
.game .tiles {
  display: block;
  background: black url("/resources/ow/ajax-loader.gif") no-repeat center center;
  min-height: 200px;
  border: 4px solid black;
  clear: both;
}
/* line 57, ../sass/ow.scss */
.game .tiles span {
  display: inline-block;
  float: left;
  position: relative;
  overflow: hidden;
  border: 4px solid darkgrey;
  background: #aaaaaa url("/resources/ow/question.png") no-repeat center center;
  background-size: cover;
  cursor: pointer;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -ms-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s false;
}
/* line 68, ../sass/ow.scss */
.game .tiles span::before {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-box-shadow: #333333 0 0 1px 1px inset, rgba(0, 0, 0, 0.25) 0 0 4px 1px inset;
  -moz-box-shadow: #333333 0 0 1px 1px inset, rgba(0, 0, 0, 0.25) 0 0 4px 1px inset;
  box-shadow: #333333 0 0 1px 1px inset, rgba(0, 0, 0, 0.25) 0 0 4px 1px inset;
}
/* line 78, ../sass/ow.scss */
.game .tiles span img {
  width: 100%;
  height: auto;
  display: block;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
}
/* line 88, ../sass/ow.scss */
.game .tiles span:hover {
  background-color: #777;
}
/* line 98, ../sass/ow.scss */
.game .tiles span.discovered img {
  top: 0;
}
